@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71266532');
  src: url('../font/fontello.eot?71266532#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?71266532') format('woff'),
       url('../font/fontello.ttf?71266532') format('truetype'),
       url('../font/fontello.svg?71266532#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?71266532#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-popup:before { content: '\e801'; } /* '' */
.icon-file-pdf:before { content: '\e802'; } /* '' */
.icon-file-word:before { content: '\e803'; } /* '' */
.icon-file-excel:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-angle-double-right:before { content: '\e809'; } /* '' */
.icon-angle-double-up:before { content: '\e80a'; } /* '' */
.icon-angle-double-down:before { content: '\e80b'; } /* '' */
.icon-angle-left:before { content: '\e80c'; } /* '' */
.icon-angle-right:before { content: '\e80d'; } /* '' */
.icon-angle-up:before { content: '\e80e'; } /* '' */
.icon-angle-down:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-th-list:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-link-ext:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-lock-filled:before { content: '\e815'; } /* '' */
.icon-lock-open-filled:before { content: '\e816'; } /* '' */
.icon-menu:before { content: '\e817'; } /* '' */
.icon-shop:before { content: '\e818'; } /* '' */
.icon-angle-circled-up:before { content: '\e819'; } /* '' */
.icon-angle-circled-left:before { content: '\e81a'; } /* '' */
.icon-angle-circled-right:before { content: '\e81b'; } /* '' */
.icon-angle-circled-down:before { content: '\e81c'; } /* '' */
.icon-left-circled:before { content: '\e81d'; } /* '' */
.icon-right-circled:before { content: '\e81e'; } /* '' */
.icon-up-circled:before { content: '\e81f'; } /* '' */
.icon-down-circled:before { content: '\e820'; } /* '' */
.icon-down-circle:before { content: '\e821'; } /* '' */
.icon-left-circle:before { content: '\e822'; } /* '' */
.icon-right-circle:before { content: '\e823'; } /* '' */
.icon-up-circle:before { content: '\e824'; } /* '' */
.icon-print:before { content: '\e825'; } /* '' */
.icon-print-1:before { content: '\e826'; } /* '' */
.icon-print-2:before { content: '\e827'; } /* '' */
.icon-print-3:before { content: '\e828'; } /* '' */
.icon-print-4:before { content: '\e829'; } /* '' */
.icon-print-5:before { content: '\e82a'; } /* '' */