@charset "shift_jis";



body{
color:#333;
	font-family:"ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", "MS P Gothic", Verdana, sans-serif;
	font-size:80%;
	background:#fff;
}
	

a {
	color: #3498db;
	outline: none;
	text-decoration:none;
}


a:hover {
	color:#0074a2;
	text-decoration:underline;
}
input,
select,
textarea{
	padding:5px;
}
input,
textarea{
	border:1px solid #ccc;
	
	-moz-border-radius: 5px;		
	border-radius: 5px;
}
input[type=radio], input[type=checkbox] {
	margin:0 5px 0 0;
}

.linkbtn{
	background:#6fb4ba;
	font-size:120%;
	padding:5px 30px 5px 15px;
	color:#fff;
	font-weight:800;
	background:url(../img/arrow02.gif) no-repeat 97% center #6fb4ba;	-moz-border-radius: 5px;		
	border-radius: 5px;
	text-decoration:none;
}
/*.linkbtn:after{
	content:">";
	margin:0 0 0 20px;
}*/



/*ƒwƒbƒ_
------------------------------------------------*/
#headerwrap{
	background: url(../img/bg_headerwrap.png) no-repeat center top #000;

}
#header{
	width:960px;
	margin:0 auto;
	height:104px;
	position:relative;
}

#logo{
	text-indent:-10000px;
}
#logo a{
	display: block;
	background: url(../img/logo.png) no-repeat center left;
	width: 283px;
	height: 74px;
	position:absolute;
	top: 20px;
	left:0px;
	text-decoration: none;
	font-size:1px;
	z-index:1;
}
.headerbtn p{
	text-indent:-10000px;
}
.headerbtn a{
	position:absolute;
	right:0;
	top:20px;
	width:140px;
	height:70px;
	background:url(../img/btn_bigmoon.png) no-repeat top;

	}


/*ƒƒCƒ“ƒƒjƒ…[
------------------------------------------------*/
#gnaviwrap{
	background: url(../img/bg_gnaviwrap.png) repeat-x center top #000;
	border-top:1px solid #383838;
}
#gnavi{
	width:960px;
	margin: 0 auto;
}
#gnavi a{
	text-align:center;
	color:#fff;
	font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W3", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;

	float:left;
	margin:0px -1px 0px 0;
	padding:15px 0;
}
#gnavi span{
	border-left:1px solid #7e7e7e;
	border-right:1px solid #7e7e7e;

	width:95px;
	width:105px;
	display:block;
}
#gnavi a:hover{
	background:#313131;
	text-decoration:none;
}



/*ƒƒCƒ“ƒrƒWƒ…ƒAƒ‹
------------------------------------------------*/
#mainvisual{
	margin:0 0 30px -37px;
}




/*ƒgƒbƒv‚ÌƒRƒ“ƒeƒ“ƒc
------------------------------------------------*/
.itemlist{
	margin:0 -20px 0 0;
}
.itemlist dl{
	width:160px;
	float:left;
	margin:0 20px 20px 0;
}
.itemlist dt img{
	padding:4px;
	border:1px solid #ccc;
	margin:0 0 5px 0;
}
#index .itemlist{
	margin:0 20px 0 10px;
}
#index .itemlist dl{
	margin:0 0px 20px 0px;
}

.top3reason {
	margin:0 -20px 0 0;
}
.top3reason dl{
	width:218px;
	float:left;
	margin:0 20px 20px 0;	
	border:1px solid #ccc;
}
.top3reason dt{
	background:#000;
	margin:9px;
	color:#fff;	
	font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W3", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
	font-size:110%;
	padding:10px;
}
.top3reason dt strong{
	background:#166905;
	padding:10px;
	display:inline-block;
	float:left;
	margin:0 10px 0 -20px;
	color:#c8b86f;
	font-style:italic;
	font-size:120%;

	}
.top3reason dd{
	padding:9px;
}
.top3reason dd img{
	padding:0 0 10px 0;
}

.brandlist{
	margin:0 -20px 0 0;
}
.brandlist dl{
	width:150px;
	float:left;
	padding:5px;
	margin:0 20px 20px 0;	
	background:#000;
}
.brandlist dl:hover{
	background:#333;
	cursor:pointer;
}
.brandlist dd{

	color:#fff;
	font-family:"ƒqƒ‰ƒMƒm–¾’© Pro W3", "Hiragino Mincho Pro", "HGS–¾’©E", "‚l‚r ‚o–¾’©", serif;
	font-size:110%;
	padding:5px;
	text-align:right;
}


.bannerbox{
	padding:10px 0;
}


/*ƒŒƒCƒAƒEƒg
------------------------------------------------*/

.mainbody{
	width:960px;
	margin:0 auto 30px auto;
	padding:30px 0 0 0;
	clear:both;
}
.column2 .main{
	width:700px;
	float:left;
}


.side{
	width:220px;
	float:right;
}

.topicpath{
	padding:0 0 10px 0;
}



/*ƒTƒCƒhƒƒjƒ…[
------------------------------------------------*/
.sidebanner li{
	margin:0 0 10px 0;
}
.sidemenu h2{
	background:#000;
	color:#fff;
	padding:10px;
	font-size:100%;
}
.sidemenu h2 strong{
	font-size:130%;
	font-style:italic;
	margin:0 10px 0 0;
	
}

.sidemenu ul{
	background:#f2f1f1;
	padding:10px 0;
	
}
.sidemenu li {
	display:block;
	padding:3px 10px;
	border-bottom:1px solid #fff;
	color:#999;
	font-size:90%;
}
.sidemenu li a{
	color:#000;}
/*.sidemenu li a:hover{
	background:#ddd;
	text-decoration:none;
}*/

.sidemenu li a:before{
	content:">";
	padding:0 5px 0 0;
	color:#666;

}


/*ƒtƒbƒ^
------------------------------------------------*/
#footerwrap{
background:#000;
clear:both;
color:#fff;
}
#footer{
	width:960px;
	margin:0 auto;
	text-align:left;
	padding:15px 0;
}
#footermenuwrap{
	background:#262626;
	padding:10px;
}
#footermenu {
	width:960px;
	margin:0 auto;
	padding:0 0 0px 0;
}
#footermenu ul{
	width:500px;
	float:left;
}
#footermenu li {
	float:left;
	padding:0 20px 0 0px;
}
#footermenu li a{
	color:#fff;
}
#footermenu p{
	float:right;
	text-align:right;
	width:400px;
}
#copyright{

	background:#000;
	padding:15px 0;

}
#copyright p{
	float:left;
	width:500px;
	text-align:left;
	font-size:80%;
}
address{
	width:960px;
	margin:0 auto;
	text-align:right;
}
#footerlist h2 {
	padding:0 0 10px 0;
}
#footerlist h2 strong{
	background:#111111;
	font-size:60%;
	padding:5px;
	border:1px aaa;
}

#footerlist{
	clear:both;
	padding:10px;

}

#footerlist li{
	float:left;
	font-size:80%;
	width:180px;
	color:#aaa;
}
#footerlist li a{
	color:#fff;
}
